<div ng-controller="MessagesController as mc">
  <div class='message-collection-container'>
      <div class='message' ng-repeat="message in mc.messages">
        <div class='message-body'>
          <p><a href="#">{{ message.email }}</a>: {{ message.text }}</p>
        </div>
      </div>
  </div>
  <form id='message-form' ng-submit="mc.submit()">
    <div class="form-group">
      <input type='submit' class="btn btn-default"/>
      <input type='text' class="form-control" ng-model="mc.text" placeholder='Your Message Here' />
    </div>
  </form>
</div>
